.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}

.orderw{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}